/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');





/* Set the background color for my page: */
body{
background-image: url("background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-blend-mode: screen;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:antiquewhite;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2{
    color:antiquewhite;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.excel{
    margin: auto;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    flex:1;
    text-align: center;

}




li{
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    position: relative;
}

li a:link{
    color: antiquewhite;
    text-decoration: none;
}
li a:visited{
    color: antiquewhite;
}
li a:active{
    font-weight: bold;
    color: rgba(250,235,215, 0.05);
}

/* Add the hovering underline animation for links*/
li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

li:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}


    
.myWeek1{
    margin: auto;
    margin-bottom: 30px;
    max-width: 800px;
    background-color: rgba(90,106,116, 0.9); 
    border-radius: 3px;
    border-width: 3px;
    border-style: outset;
    border-color: rgba(250,235,215, 0.6);
}

.myWeek2{
    margin: auto;
    margin-bottom: 30px;
    max-width: 800px;
    background-color: rgba(90,106,116, 0.9);
    border-radius: 3px;
    border-width: 3px;
    border-style: inset;
    border-color: rgba(250,235,215, 0.6);
}


/* Set the apperance of the class, chart */
.chart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
    background-color:white; 
    width: 350px;
    border-width: 3px;
    border-style: inset; 
    border-radius: 8px;
    border-color: antiquewhite;

    
}

.map-chart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
    background-color:white; 
    width: 350px;
    border-width: 3px;
    border-style: outset; 
    border-radius: 8px;
    border-color: antiquewhite;

    
}



.foe-chart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
    background-color:white; 
    width: 350px;
    border-width: 3px;
    border-style: outset; 
    border-radius: 8px;
    border-color: antiquewhite;

    
}

.gtrend-chart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
    background-color:white; 
    width: 350px;
    border-width: 3px;
    border-style: outset; 
    border-radius: 8px;
    border-color: antiquewhite;

    
}




.dashchart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
    background-color:white; 
    width: 250px;
    border-width: 3px;
    border-style: outset; 
    border-radius: 8px;
    border-color: antiquewhite;

    
}

.grid-item {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    grid-column-gap: 0;
    font-size: 10px;
    padding: 5px;
    margin: auto;
}

/* Settings for big screens only */
@media only screen and (min-width: 800px) {
  .grid-item {
    grid-template-columns: 40% 40%;
    padding: 5px;
    padding-left: 14%;
    margin: auto
  }
  .grid-item > div {
    margin: auto;
    padding: 5px
  }


  .foe-chart{
    width: 600px;
  }

  .gtrend-chart{
    width: 750px;
  }

  .map-chart{
    width: 750px;
  }



}